<?xml version="1.0" encoding="UTF-8"?>
<configurations xmlns="http://agavi.org/agavi/1.0/config" xmlns:xi="http://www.w3.org/2001/XInclude">
	<configuration>

		<system_actions>

			<system_action name="default">
				<module>Account</module>
				<action>Index</action>
			</system_action>

			<system_action name="error_404">
				<module>Default</module>
				<action>Error404</action>
			</system_action>

			<system_action name="login">
				<module>Account</module>
				<action>Login</action>
			</system_action>

			<system_action name="module_disabled">
				<module>Default</module>
				<action>ModuleDisabled</action>
			</system_action>

			<system_action name="secure">
				<module>Default</module>
				<action>Secure</action>
			</system_action>

			<system_action name="unavailable">
				<module>Default</module>
				<action>Unavailable</action>
			</system_action>

		</system_actions>

		<settings>
			<setting name="app_name">RedRacer</setting>

			<setting name="available">true</setting>
			<setting name="debug">false</setting>

			<setting name="use_database">true</setting>
			<setting name="use_logging">true</setting>
			<setting name="use_routing">true</setting>
			<setting name="use_security">true</setting>
			<setting name="use_translation">false</setting>
		</settings>

		<!-- redracer info -->
		<settings prefix="org.redracer.">
			<setting name="name">RedRacer</setting>
			<setting name="version">1.0.0</setting>
		</settings>

		<!-- our app-specific settings -->
		<settings prefix="org.redracer.config.">
			<!-- some defaults first -->

			<!-- a site name -->
			<setting name="site_name">RedRacer Default Installation</setting>

			<setting name="resource.repository_dir">%core.project_dir%/repository</setting>

			<!-- account stuff -->
			<!-- default lifetime for "remember me" on login -->
			<setting name="account.autologin_lifetime">2 weeks</setting>
			<setting name="account.gravatar_size">45</setting>
			<setting name="account.gravatar_default">http://redracer.digitarald.com/images/gravatar.gif</setting>

			<!-- now try to include a custom settings.xml with more infos -->
			<!-- we only grab all <setting> elements in there -->
			<xi:include href="%core.custom_dir%/config/settings.xml" xpointer="xmlns(a=http://agavi.org/agavi/1.0/config) xpointer(/a:settings/*)">
				<xi:fallback />
			</xi:include>
		</settings>

		<exception_templates>
			<exception_template context="console">%core.agavi_dir%/exception/templates/shiny.php</exception_template>
			<exception_template>%core.lib_dir%/exception/templates/plaintext.php</exception_template>
		</exception_templates>

	</configuration>

	<configuration environment="development.*">
		<settings>
			<setting name="debug">true</setting>
		</settings>
	</configuration>

</configurations>