/* Blueprint extended */

.r-border {
	padding-right: 24px;
	margin-right: 25px;
	border-right: 1px solid #ddd;
}

.l-border {
	padding-left: 25px;
	margin-left: 14px;
	border-left: 1px solid #ddd;
}

.b-border {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.t-border {
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #ddd;
}


a.active
{
	font-weight:		bold;
}

#main-menu ul
{
	text-align:			right;
	margin:				0;
}
#main-menu ul li
{
	list-style:			none;
}

ul.filter
{
	padding:			0.5em 0;
	border-bottom:		1px solid #DDDDDD;
	border-top:			1px solid #F4F5F5;
	background:			#F4F5F5 url(http://mootools.net/assets/images/gradient-invert.png) repeat-x left bottom;
}
ul.filter li
{
	display:			inline;
	font-size:			.8em;
	color:				#686C70;
	padding:			0 0 0 0.4em;
}
ul.filter a
{
	padding:			0 0 0 0.4em;
	display:			inline !important;
}
ul.filter li a
{
	font-size:			1.2em;
	padding:			0;
}
ul.filter.last
{
	border-bottom:		none;
}
ul.filter a.selected
{
	font-weight:		bold;
	color:				#6B7B95;
}

/** form wrappers **/

fieldset
{
	border:				none;
	padding:			0 0 0 0;
}
fieldset.footer div
{
	float:				right;
	line-height:		2em;
}
legend
{
	color:				#686C70;
	padding-top:		0.6em;
	padding-bottom:		1em;
}

label, div.label
{
	display:			block;
	clear:				both;
	padding-bottom:		1.2em;
	background:			#F4F5F5 url(http://mootools.net/assets/images/gradient-invert.png) repeat-x left bottom;
}
label:hover, div.label:hover
{
	background-color:	#EEEEEE;
}

label.radio
{
	padding:			0 0 .4em 0;
}
div.label label
{
	background:			none;
}

span.label
{
	display:			block;
	margin-bottom:		.2em;
	font-weight:		bold;
}
label.radio span.label
{
	display:			inline;
	font-weight:		normal;
}
label span.small
{
	font-weight:		normal;
	margin:				0;
	margin-top:			.2em;
	display:			block;
}

/** form elements **/

input.text, select, textarea
{
	margin:				0.25em 0;
}
textarea
{
	height:				auto;
	width:				auto;
}
textarea.description
{
	width:				600px;
	height:				300px;
}
input.radio
{
	clear:				left;
}

/** flash messages **/

#flash
{
	margin:				0;
}
#flash li
{
	list-style:			none;
}
#flash ul
{
	margin-top:			1em;
}
#flash ul li
{
	list-style:			square;
}

/** main **/

#main h3
{
	border-bottom:		1px solid #DDDDDD;
}
h3 a:link, h3 a:visited
{
	color:				#6b7b95;
	text-decoration:	none;
}

dl dt
{
	font-weight:		normal;
	font-size:			1.2em;
	padding:			0.3em 0;
}
dl dt em
{
	font-size:			0.8em;
}
dl dd p
{
	font-size:			1em;
}

p.empty
{
	font-weight:		bold;
	font-size:			1em;
	text-align:			center;
	color:				#686C70;
	font-weight:		bold;
}

div.resource
{
	margin-bottom:		.5em;
	clear:				both;
}
div.text
{
	overflow:			hidden;
}

p.footer
{
	color:				#686C70;
	margin-top:			-1.5em;
	font-size:			.9em;
	text-align:			right;
	clear:				both;
}

/** resources **/

.post h3
{
	border-bottom: 1px solid #DDDDDD;
	font-size: 1.8em;
	line-height: 1;
	margin-bottom: 0;
	padding-bottom: 0;
}

small.subheader
{
	font-size:			.9em;
	float:				right;
	text-align:			right;
	color:				#686C70;
	margin-top:			0.3em;
}

.devs img
{
	float:				left;
	border:				1px solid #CCCCCC;
	margin-right:		1em;
}
.devs dt
{
	clear:				left;
}
.devs dt em
{
	font-size:			0.8em;
}
.devs dt span
{
	font-weight:		normal;
}
.devs dd p
{
	display:			inline;
	margin:				0;
}


/** from blog **/

#google-search-box
{
	text-align:			left;
}

