
a.active
{
	font-weight:		bold;
}

fieldset
{
	border:				none;
	padding:			1.4em 0 0 0;
}
legend
{
	color:				#686C70;
	padding-top:		0.6em;
}

label, div.label
{
	display:			block;
	clear:				both;
	padding:			.7em 0 .7em 1.4em;
	background:			#F4F5F5 url(http://mootools.net/assets/images/gradient-invert.png) repeat-x left bottom;
}
label:hover, div.label:hover
{
	background-color:	#EEEEEE;
}

label.radio
{
	padding:			0 0 .4em 0;
}
div.label label
{
	background:			none;
}

span.label
{
	display:			block;
	margin-bottom:		.2em;
	font-weight:		bold;
}
label.radio span.label
{
	display:			inline;
	font-weight:		normal;
}
label span.small
{
	font-weight:		normal;
	margin:				0;
	margin-top:			.2em;
	display:			block;
}

textarea
{
	margin:				0;
	height:				auto;
	width:				auto;
}
textarea.description
{
	width:				600px;
	height:				300px;
}

input.radio
{
	clear:				left;
}

#flash
{
	margin:				0;
}
#flash li
{
	list-style:			none;
}

div.filter
{
	padding:			0.5em 0;
	border-bottom:		1px solid #DDDDDD;
	border-top:			1px solid #F4F5F5;
	background:			#F4F5F5 url(http://mootools.net/assets/images/gradient-invert.png) repeat-x left bottom;
}
div.filter a
{
	padding:			0 0 0 0.7em;
	display:			inline !important;
}
div.filter span
{
	font-size:			.8em;
	color:				#686C70;
	white-space:		nowrap;
	padding:			0 0 0 0.7em;
}
div.filter span a
{
	font-size:			1.2em;
	padding:			0;
}
div.filter.last
{
	border-bottom:		none;
}

/** from blog.mootools.net **/

#search-box
{
	text-align:			left;
}

#search-form
{
	text-align:			right;
}

#search-q {
	border: 1px #bbb solid;
	padding: 4px 5px 2px;
	font-size: 11px;
	font-family: Helvetica, Arial;
	width: 180px;
}

.post h3
{
	border-bottom: 1px solid #DDDDDD;
	font-size: 1.8em;
	line-height: 1;
	margin-bottom: 0;
	padding-bottom: 0;
}
